<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{{- $theme := .Params.theme | default .Site.Params.defaultTheme }}
<html class="{{- if (eq $theme "light") -}}light{{- else if (eq $theme "dark") }}dark{{ end }}" lang="{{- site.LanguageCode | default "en" -}}">
  {{ partial "head.html" . }}
  <body>
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    <main>
      {{ block "main" . }}{{ end }}

      <a href="#" id="back-to-top" style="display: none;">
        <i class="fas fa-arrow-up"></i>
      </a>

      <style>
        #back-to-top {
          position: fixed;
          bottom: 30px;
          right: 30px;
          background-color: #af4c4c;
          color: white;
          padding: 10px 15px;
          border-radius: 5px;
          text-decoration: none;
          font-size: 1rem;
          transition: background-color 0.3s;
        }

        #back-to-top:hover {
          background-color: #ab0917;
        }
      </style>

      <script>
        window.onscroll = function () {
          const backToTopButton = document.getElementById("back-to-top");
          if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            backToTopButton.style.display = "block";
          } else {
            backToTopButton.style.display = "none";
          }
        };

        document.getElementById("back-to-top").addEventListener("click", function (e) {
          e.preventDefault();
          window.scrollTo({ top: 0, behavior: "smooth" });
        });
      </script>


    </main>
    {{ block "footer" . }}{{ partialCached "footer.html" . }}{{ end }}
  </body>
</html>
