{{ define "main" }}
{{ partial "title.html" . }}

<section class="prose">
  <div class="iframe-container" style="background-color: #fff; border-radius: 8px; border-top: 2px solid #e0e0e0;">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfcP8RhQKs1Xg3-VDS2tYlI8NI1C5T5GOpsKAAOTxg2I4945w/viewform?embedded=true"
      frameborder="0" hspace="0" vspace="0" marginwidth="0" marginheight="0" scrolling="no" height="2200"
      width="100%">載入中…</iframe>
  </div>
</section>

  {{ .Content }}

</section>
{{ end }}