{{ define "main" }}
{{ partial "title.html" . }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="prose">

<div class="wrap">
  <h1>Countdown to <strong>DEC 28</strong></h1>
  <div class="countdown">
    <div class="bloc-time months">
      <span class="count-title">Month</span>
      <span class="figure" id="months">0</span>
    </div>
    <div class="bloc-time days">
      <span class="count-title">Day</span>
      <span class="figure" id="days">0</span>
    </div>
  </div>
</div>



<style>
.wrap {
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.bloc-time {
  margin: 0 15px;
}
</style>


<script>
  function startCountdown() {
    var targetDate = new Date("Dec 28, 2024 00:00:00").getTime();
    var countdownInterval = setInterval(function () {
      var now = new Date().getTime();
      var distance = targetDate - now;

      var months = Math.floor(distance / (1000 * 60 * 60 * 24 * 30)); // 計算月數
      var days = Math.floor((distance % (1000 * 60 * 60 * 24 * 30)) / (1000 * 60 * 60 * 24)); // 計算天數

      // 更新 DOM 元素
      document.getElementById("months").innerHTML = months < 10 ? '0' + months : months; // 格式化數字
      document.getElementById("days").innerHTML = days < 10 ? '0' + days : days; // 格式化數字

      if (distance < 0) {
        clearInterval(countdownInterval);
        document.getElementById("months").innerHTML = "00";
        document.getElementById("days").innerHTML = "00";
      }
    }, 1000);
  }

  startCountdown();
  </script>

<hr style="border: none; border-top: 1.5px solid #ffffff; width: 70%; margin: 20px auto;">


<div style="text-align: center;">
  <div style="display: inline-block; margin: 0 10px;">
    <div id="calendar-invite">
      <a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NjUxZ...完整鏈接" target="_blank">
        <i class="fas fa-calendar"></i> +Calendar 
      </a>
    </div>
  </div>

  <div style="display: inline-block; margin: 0 10px;">
    <div id="form-invite">
      <a href="你的 Google 表單鏈接" target="_blank">
        <i class="fa fa-feather-pointed"></i> RSVP 
      </a>
    </div>
  </div>

  <div style="display: inline-block; margin: 0 10px;">
    <div id="form-invite">
      <a href="./albums">
        <i class="fas fa-bolt"></i> Albums 
      </a>
    </div>
  </div>

  <div style="display: inline-block; margin: 0 10px;">
    <div id="form-invite">
      <a href="#map-section">
        <i class="fas fa-map-pin"></i> Location
      </a>
    </div>
  </div>

</div>


<style>
  #calendar-invite a,
  #form-invite a {
    text-decoration: none;
    color: #b09696; /* 按照你的需求改顏色 */
    position: relative;
    padding-bottom: 2px; /* 為下劃線留出空間 */
  }

  #calendar-invite a:hover,
  #form-invite a:hover {
    color: #ffffff; /* 鼠標懸停時的顏色 */
  }

  #calendar-invite a::after,
  #form-invite a::after {
    content: '';
    display: block;
    height: 2px; /* 下劃線的厚度 */
    background: #ffffff; /* 下劃線顏色 */
    transition: width 0.3s;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #calendar-invite a:hover::after,
  #form-invite a:hover::after {
    width: 100%; /* 鼠標懸停時顯示下劃線 */
  }
</style>

<!-- <style>
  #calendar-invite a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #af4c4c;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }

  #calendar-invite a i {
    margin-right: 10px;
  }

  #calendar-invite a:hover {
    background-color: #ab0917;
  }
</style>

<style>
  #form-invite a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #b75f00;
    /* 修改背景顏色 */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }

  #form-invite a i {
    margin-right: 10px;
  }

  #form-invite a:hover {
    background-color: #ad8606;
    /* 修改懸停時的顏色 */
  }
</style> -->



  {{ .Content }}


<div id="map-section" style="text-align: center;">
  <div class="iframe-container-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.7540019675757!2d121.52478129209976!3d25.09323129576611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aea38840c8d1%3A0x8b304b3001673820!2sRenaissance%20Taipei%20Shihlin%20Hotel!5e0!3m2!1szh-TW!2stw!4v1727075780034!5m2!1szh-TW!2stw"
      frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <p>
    <h2>台北士林萬麗酒店</h2>
    <h2>台北市士林區中山北路五段470巷8號</h2>
  </p>
</div>

</section>



<!-- {{ partial "featured.html" . }}
  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section> -->


{{ end }}

