{{ define "main" }}
{{ partial "title.html" . }}

<section class="prose">

  {{ .Content }}
<!-- 
{{ $image := resources.Get "images/the_date.jpg" }}
{{ $resized := $image.Resize "787x1400" }}
<div style="display: flex; justify-content: center;">
  <img src="{{ $resized.RelPermalink }}" alt="The Date" style="width: 100%; height: auto;">
</div>

{{ $image := resources.Get "images/invitation.jpg" }}
{{ $resized := $image.Resize "787x1400" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date" loading="lazy" style="width: 100%; height: auto;">

{{ $image := resources.Get "images/event_calendar.jpg" }}
{{ $resized := $image.Resize "787x1400" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date" style="width: 100%; height: auto;">

{{ $image := resources.Get "images/clips.jpg" }}
{{ $resized := $image.Resize "1075x1075" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date" style="width: 100%; height: auto;">
 -->

{{ $image := resources.Get "images/resized/the_date.PNG" }}
{{ $resized := $image.Resize "787x1400" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date">

{{ $image := resources.Get "images/resized/invitation.PNG" }}
{{ $resized := $image.Resize "787x1400" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date">

{{ $image := resources.Get "images/resized/event_calendar.PNG" }}
{{ $resized := $image.Resize "787x1400" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date">

{{ $image := resources.Get "images/resized/clips.PNG" }}
{{ $resized := $image.Resize "1075x1075" }}
<img src="{{ $resized.RelPermalink }}" alt="The Date">


<div id="map-section" style="text-align: center;">
  <div class="iframe-container-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.7540019675757!2d121.52478129209976!3d25.09323129576611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aea38840c8d1%3A0x8b304b3001673820!2sRenaissance%20Taipei%20Shihlin%20Hotel!5e0!3m2!1szh-TW!2stw!4v1727075780034!5m2!1szh-TW!2stw"
      frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
<p>
  <br />
  <h2>台北士林萬麗酒店二樓</h2>
  <h2>台北市士林區中山北路五段470巷8號</h2>
</p>
</div>

</section>



<!-- {{ partial "featured.html" . }}
  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section> -->


{{ end }}

