<footer>

  <!-- <img src="/data/happy_background.png" alt="The Date" style="margin: auto; position: relative; width: 60%;"> -->
  <img src="/data/happy_handwrite.png" alt="The Date"
    style="display: block; margin: auto; position: relative; width: 75%; max-width: 600px;">


  {{ partialCached "social-icons.html" . }}
  <section>
    {{ .Site.Copyright }}
    {{ range .Site.Menus.footer }}
      <a {{ with .Params.rel -}}rel="{{ . }}"{{ end -}} href="{{ .URL }}">
        {{ .Name }}
      </a>
    {{ end }}
  </section>
</footer>
